@model IEnumerable<Car_Rental_Management.Models.User>
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

 
   
    @* <div class="container mt-4"> *@
    @* <h2 class="mb-4">Registered Customers</h2> *@

    @* <table class="table table-bordered table-striped shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>UserId</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                </tr>
            }
        </tbody>
    </table> *@
    <table class="table table-bordered table-striped shadow-sm">
        <thead class="table-dark">
            <tr>

                <th>FullName </th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>

                    <td>@user.FullName </td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>

